:root {
  --primary-color: #0b0e3a;
  --secondary-color: #0f4c75;
  --option1-color: #3282b8;
  --option2-color: #bbe1fa;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btnSubmitOption2 {
  background: var(--primary-color) !important;
  border: 1px solid var(--option1-color) !important;
}

.btnSubmitOption2:hover {
  background: var(--secondary-color) !important;
  font-weight: 600;
}

.data-table-extensions {
  padding-left: 0px;
  padding-right: 0px;
}

.data-table-extensions>.data-table-extensions-filter {
  float: right;
  width: 30%;
  border: 1px solid var(--option1-color);
  border-radius: 14px;
}

.css-m9mp0w-MuiToolbar-root {
  background: var(--primary-color);
}

.data-table-extensions>.data-table-extensions-filter>.icon {
  height: 35px;
}

.data-table-extensions>.data-table-extensions-filter>.filter-text {
  float: left;
  width: 90%;
  height: 35px;
}

.data-table-extensions-action {
  display: none;
}

.kNUuTe {
  background: var(--option1-color) !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.kNxEtY {
  color: #fff;
}

.glnTqc>.kXLoVw {
  text-align: left !important;
}

.iSAVrt {
  background: var(--option2-color) !important;
  height: 60px !important;
}

.iSAVrt>.glyQNg {
  font-size: 16px;
  font-weight: 500;
}

.WQNxq {
  border-radius: 0px;
}

.eHijxz {
  border: 1px solid #dbe7e2;
}

.btnTable>span {
  margin: 0px;
}

.w-100 {
  width: 100% !important;
}

.d-none {
  display: none !important;
}

.cardCalendar {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#react-select-3-listbox {
  background-color: #fff;
  /* color de fondo del elemento option */
  color: #333;
  /* color del texto del elemento option */
  z-index: 999;
}

/* Estilo personalizado para la flecha que indica que se puede desplegar el select */
.react-select__indicator {
  color: #333;
  /* color de la flecha */
}

.my-swal-container {
  position: fixed;
  z-index: 1300;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.inputDisabled input[type="date"],
inputDisabled input[type="time"] {
  /* color: #000000 !important; */
  background-color: #f5f5f5 !important;
  cursor: not-allowed;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item,
.MuiGrid-root .custom-select,
.custom-select .select__control {
  height: 100%;
}

.Select__menu-list {
  height: 100%;
}

.select__control {
  padding: 9.5px 14px;
}

.Select__menu {
  z-index: 9999;
}

.custom_select {
  padding: 20px;
  width: 100%;
  border-color: #c4c4c4;
  border-radius: 4px;
}

.select-modal::-webkit-scrollbar {
  -webkit-appearance: none;

  width: 18px;
}

.select-modal::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 4px;
}

.fc-event-main {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.background_page {
  background-color: rgb(238, 242, 246);
  border-radius: 4px 4px 0px 0px;
  min-height: calc(-88px + 100vh);
}

@media (max-width: 899.95px) {
  .background_page {
    margin-left: 20px;
    width: calc(100% - 260px);
    padding: 16px;
  }
}

.react-datepicker__time-container {
  width: 200px;
}

.react-datepicker__time-box {
  width: 100% !important;
}

.react-datepicker-time__header {
  background-color: #4f4e4e;
  color: #ffffff !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  font-weight: bold;
}



.custom-calendar-time {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  font-size: 14px;
  width: 100%;
}

.react-datepicker__time-list-item--selected {
  background-color: #4f4e4e !important;
  color: #fff !important;
  font-weight: bold;
}

.custom-input-time {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  color: #333;
  font-size: 14px;
  padding: 10px;
  width: 70%;
  box-sizing: border-box;
}

.custom-input-time:focus {
  outline: none;
}

.custom-calendar {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  font-size: 14px;
  width: 100%;
}

.custom-input {
  background-color: #fff;
  border-radius: 8px;
  color: #333;
  font-size: 14px;
  padding: 10px;
  width: 70%;
  box-sizing: border-box;
}

.custom-input:focus {
  outline: none;
}

.react-datepicker__header {
  background-color: #4f4e4e;
  color: "#fffff !important";
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  font-weight: bold;
}

.react-datepicker__navigation {
  color: #fff !important;
}

.react-datepicker__current-month {
  color: #fff !important;
}

.react-datepicker__day-name {
  color: #4f4e4e !important;
  font-weight: bold;
}

.react-datepicker__day {
  color: #333 !important;
  font-weight: normal;
}

.react-datepicker__day--selected {
  background-color: #4f4e4e !important;
  color: #fff !important;
  font-weight: bold;
}

.react-datepicker__day--keyboard-selected {
  background-color: #4f4e4e !important;
  color: #fff !important;
  font-weight: bold;
}

.basic-multi-select {
  z-index: 999;
}

.input-datepicker {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  background: none;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 200px !important;
}

.appBar {
  background-color: #fff !important;
  box-shadow: none !important;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: rgb(94, 53, 177) !important;
  border-radius: 5px;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root {
  color: #fff;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemText-root {
  color: #fff;
}