:root {
  --primary-color: #0b0e3a;
  --secondary-color: #0f4c75;
  --option1-color: #3282b8;
  --option2-color: #bbe1fa;
  --button-disabled: #43466a;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btnSubmitOption2 {
  background: var(--primary-color) !important;
  border: 1px solid var(--option1-color) !important;
  border-radius: 35px !important;
}

.btnSubmitOption2:disabled{
  background: var(--button-disabled) !important;
}

.radius-35 {
  border-radius: 35px !important;
}

.btnSubmitOption2:hover {
  background: var(--secondary-color) !important;
  font-weight: 600;
}

.data-table-extensions {
  padding-left: 0px;
  padding-right: 0px;
}

.data-table-extensions>.data-table-extensions-filter {
  float: right;
  width: 30%;
  border: 1px solid var(--option1-color);
  border-radius: 5px;
}

.css-m9mp0w-MuiToolbar-root {
  background: var(--primary-color);
}

.data-table-extensions>.data-table-extensions-filter>.icon {
  height: 35px;
}

.data-table-extensions>.data-table-extensions-filter>.filter-text {
  float: left;
  width: 90%;
  height: 35px;
}

.kNUuTe {
  background: var(--option1-color) !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.kNxEtY {
  color: #fff;
}

.glnTqc>.kXLoVw {
  text-align: left !important;
}

.iSAVrt {
  background: var(--option2-color) !important;
  height: 60px !important;
}

.iSAVrt>.glyQNg {
  font-size: 16px;
  font-weight: 500;
}

.WQNxq {
  border-radius: 0px;
}

.eHijxz {
  border: 1px solid #dbe7e2;
}

.btnTable>span {
  margin: 0px;
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.w-50 {
  width: 50% !important;
}

.w-25 {
  width: 25% !important;
}

.d-none {
  display: none !important;
}

.cardCalendar {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#react-select-3-listbox {
  background-color: #fff;
  /* color de fondo del elemento option */
  color: #333;
  /* color del texto del elemento option */
  z-index: 999;
}

/* Estilo personalizado para la flecha que indica que se puede desplegar el select */
.react-select__indicator {
  color: #333;
  /* color de la flecha */
}

.my-swal-container {
  position: fixed;
  z-index: 1300;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.inputDisabled input[type="date"],
inputDisabled input[type="time"] {
  /* color: #000000 !important; */
  background-color: #f5f5f5 !important;
  cursor: not-allowed;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item,
.MuiGrid-root .custom-select,
.custom-select .select__control {
  height: 100%;
}

.Select__menu-list {
  height: 100%;
}

.select__control {
  padding: 9.5px 14px;
}

.Select__menu {
  z-index: 9999;
}

.custom_select {
  padding: 20px;
  width: 100%;
  border-color: #c4c4c4;
  border-radius: 4px;
}

.select-modal::-webkit-scrollbar {
  -webkit-appearance: none;

  width: 18px;
}

.select-modal::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 4px;
}

.fc-event-main {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.background_page {
  background-color: rgb(238, 242, 246);
  border-radius: 4px 4px 0px 0px;
  min-height: calc(-88px + 100vh);
}

@media (max-width: 899.95px) {
  .background_page {
    /* margin-left: 20px; */
    width: calc(100% - 260px);
    padding: 5px;
  }
  .btnSubmitOption2{
    width: 100% !important;
  }
}

.react-datepicker__time-container {
  width: 200px;
}

.react-datepicker__time-box {
  width: 100% !important;
}

.react-datepicker-time__header {
  background-color: #4f4e4e;
  color: #ffffff !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  font-weight: bold;
}



.custom-calendar-time {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  font-size: 14px;
  width: 100%;
}

.react-datepicker__time-list-item--selected {
  background-color: #4f4e4e !important;
  color: #fff !important;
  font-weight: bold;
}

.custom-input-time {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  color: #333;
  font-size: 14px;
  padding: 10px;
  width: 70%;
  box-sizing: border-box;
}

.custom-input-time:focus {
  outline: none;
}

.custom-calendar {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  font-size: 14px;
  width: 100%;
}

.custom-input {
  background-color: #fff;
  border-radius: 8px;
  color: #333;
  font-size: 14px;
  padding: 10px;
  width: 70%;
  box-sizing: border-box;
}

.custom-input:focus {
  outline: none;
}

.react-datepicker__header {
  background-color: #4f4e4e;
  color: "#fffff !important";
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  font-weight: bold;
}

.react-datepicker__navigation {
  color: #fff !important;
}

.react-datepicker__current-month {
  color: #fff !important;
}

.react-datepicker__day-name {
  color: #4f4e4e !important;
  font-weight: bold;
}

.react-datepicker__day {
  color: #333 !important;
  font-weight: normal;
}

.react-datepicker__day--selected {
  background-color: #4f4e4e !important;
  color: #fff !important;
  font-weight: bold;
}

.react-datepicker__day--keyboard-selected {
  background-color: #4f4e4e !important;
  color: #fff !important;
  font-weight: bold;
}

.basic-multi-select {
  z-index: 999;
}

.input-datepicker {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  background: none;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 200px !important;
}

.appBar {
  background-color: #fff !important;
  box-shadow: none !important;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: rgb(94, 53, 177) !important;
  border-radius: 5px;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemIcon-root {
  color: #fff;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected .MuiListItemText-root {
  color: #fff;
}

.fc-button {
  background-color: rgb(94, 53, 177) !important;
  color: #fff;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 5px;
  border: none;
}

.fc-button:hover {
  background-color: rgba(94, 53, 177, 0.541) !important;
}

.error {
  border: 1px solid red;
  border-radius: 4px;
}

.MuiTableSortLabel-icon {
  color: #ddd !important
}

.MuiButton-startIcon {
  margin: 0 !important
}

.tss-178gktx-MUIDataTableHeadCell-contentWrapper>.MuiButtonBase-root {
  padding: 0px !important;
}

.tss-qbo1l6-MUIDataTableToolbar-actions>span:nth-child(3) {
  display: none !important;
}

.tss-qbo1l6-MUIDataTableToolbar-actions>span:nth-child(5) {
  display: none !important;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  border: 1px solid #ddd;
  box-shadow: none !important;
}

.label_custom {
  position: absolute;
  top: -13px;
  left: 10px;
  color: #919191;
  z-index: 999;
  background: #fff;
  padding: 3px;
  font-size: 12px;
}

.swal-overlay {
  z-index: 99999; 
}

.modal_custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border: 2px solid #ddd !important;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 24;
  padding: 4;
  max-height: 98vh; /* Limitar la altura del modal al 90% del viewport */
  overflow-y: auto; /* Hacer scroll si el contenido es muy largo */
}

.fc-header-toolbar{
  padding: 10px;
}

@media (max-width: 768px) {
  .container_barber{
    max-width: 100% !important;
  }
  .fc-header-toolbar{
    display: block !important;
  }
  .fc-header-toolbar .fc-toolbar-chunk:nth-child(1){
    display: flex;
    justify-content: space-between !important;
  }
  .fc-header-toolbar .fc-toolbar-chunk:nth-child(2){
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .fc-toolbar-chunk:nth-child(3) .fc-button-group{
    width: 100%;
  }
  .fc-timegrid-slot {
    height: 35px !important; /* Ajusta esta altura según tus necesidades */
  }
}
.css-1bdad8q-MuiResponsiveChart-container {
  width: auto !important;
}

.toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;
}
.toggle__switch {
  width: 100px; /* Ajusta el ancho según el texto */
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espaciado entre texto y círculo */
  padding: 0 10px; /* Espacio interno */
  transition: background-color 0.2s;
}
.toggle__circle {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: transform 0.2s;
}
.toggle__switch.on {
  background-color: #4a4c6d;
}
.toggle__switch.on .toggle__circle {
  transform: translateX(66px); /* Mueve el círculo cuando está "on" */
}
.toggle__switch.off {
  background-color: #b95151;
}
.toggle__switch.off .toggle__circle {
  transform: translateX(0);
}
.toggle__text {
  color: white;
  font-weight: bold;
  user-select: none; 
}
.toggle__switch.on .toggle__text{
  margin-left: 0px;
}
.toggle__switch.off .toggle__text{
  margin-left: 25px;
}
.unabailable-day{
  background-color: #f0f0f0 !important;
  color:"#adb8d2";
  pointer-events: none;
}
.react-calendar__navigation__label{
  cursor: not-allowed !important;
  opacity: 0.5;
  pointer-events: none;
}